*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  color: #fff;
  background-color: #202024;
  font-family: "Roboto", sans-serif;
}

.container {
  padding-left: 380px;
  padding-right: 380px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header {
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(253, 251, 251, 0.1);
  padding-left: 400px;
  padding-right: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header-greeting {
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  padding-top: 20px;
  padding-bottom: 20px;
  opacity: 60%;
}

.question {
  background-image: url(./death-date.images/background-1.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 130px;
}

.question-photo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  margin-bottom: 50px;
  max-width: 420px;
}

.photo-container {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.photo-container::before {
  content: "";
  background-image: url(./death-date.images/eye.svg);
  position: absolute;
  top: 125px;
  left: 37px;
  width: 346px;
  height: 346px;
  opacity: 0.1;
}
.question-title {
  font-size: 25px;
  line-height: 30px;
  font-weight: 300;
  padding-top: 11px;
  padding-bottom: 64px;
  opacity: 60%;
}

.question-photo__img {
  border-radius: 50%;
  width: 237px;
  height: 237px;
  z-index: 1;
}

.question-photo__text {
  font-size: 25px;
  line-height: 30px;
  font-weight: 400;
  color: #f6c866;
}

.question-uppercase {
  text-transform: uppercase;
}

.question-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.question-buttons__button {
  border: none;
  border-radius: 50px;
  margin-bottom: 35px;
  padding: 20px 140px;
  background: linear-gradient(
    90deg,
    rgba(246, 200, 102, 0.9) -6.2%,
    rgba(254, 173, 53, 0.9) 100%
  );
}

.question-buttons__prediction {
  font-size: 16px;
  line-height: 18px;
  font-weight: 300;
  opacity: 60%;
  letter-spacing: 2px;
}

.mystery {
  margin-bottom: 75px;
}
.mystery-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 3px;
  max-width: 480px;
  position: relative;
}

.mystery-text::before {
  content: "";
  background-image: url(./death-date.images/hands.jpg);
  position: absolute;
  top: -66px;
  left: 161px;
  width: 135px;
  height: 135px;
  border-radius: 50%;
}
.mystery-text {
  font-size: 25px;
  line-height: 35px;
  font-weight: 500;
  padding: 128px 40px 84px 40px;
}

.text-coloring {
  color: rgba(246, 200, 102, 0.9);
}

.forecast-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}
.forecast-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 1440px;
  background-image: url(./death-date.images/background-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.forecast {
  width: 100%;
  background: rgba(41, 40, 40, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.forecast-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 370px;
  margin-top: 180px;
  margin-bottom: 180px;
}

.forecast-text {
  font-size: 25px;
  line-height: 35px;
  font-weight: 400;
}

.test {
  margin-bottom: 80px;
}

.test-question {
  font-size: 25px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: #f6c866;
  padding-bottom: 50px;
}

.test-button {
  border: none;
  border-radius: 50px;
  margin-bottom: 35px;
  padding: 20px 140px;
  background: linear-gradient(
    90deg,
    rgba(246, 200, 102, 0.9) -6.2%,
    rgba(254, 173, 53, 0.9) 100%
  );
}

.test-number {
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  opacity: 60%;
}

.ending {
  position: relative;
}

.ending-indents {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 300px;
  position: relative;
}
.ending-note {
  font-size: 25px;
  line-height: 35px;
  font-weight: 400;
  font-family: "Bad Script", cursive;
  padding: 100px 10px 250px 10px;
}

.ending-note::before {
  content: "";
  background-image: url(./death-date.images/last-before.svg);
  position: absolute;
  top: 15px;
  left: 120px;
  width: 57px;
  height: 17px;
}

.ending-note::after {
  content: "";
  background-image: url(./death-date.images/last-after.svg);
  position: absolute;
  bottom: 150px;
  left: 120px;
  width: 55px;
  height: 17px;
}

.ending-container {
  padding-left: 400px;
  padding-right: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.ending-container::before {
  content: "";
  background-image: url(./death-date.images/moon.svg);
  position: absolute;
  bottom: 30px;
  left: 153px;
  width: 164px;
  height: 164px;
}

.ending-container::after {
  content: "";
  background-image: url(./death-date.images/eye-2.svg);
  position: absolute;
  top: -69px;
  right: 150px;
  width: 310px;
  height: 183px;
}

@media (max-width: 1440px) {
  .ending-container::before {
    content: "";
    background-image: url(./death-date.images/moon.svg);
    position: absolute;
    bottom: 30px;
    left: -48px;
    width: 164px;
    height: 164px;
  }

  .ending-container::after {
    content: "";
    background-image: url(./death-date.images/eye-2.svg);
    position: absolute;
    top: -69px;
    right: 0;
    width: 186px;
    height: 183px;
  }
}

@media (max-width: 1024px) {
  .header {
    padding-left: 200px;
    padding-right: 200px;
  }

  .container {
    padding-left: 200px;
    padding-right: 200px;
  }

  .ending-container {
    padding-left: 200px;
    padding-right: 200px;
  }
}

@media (max-width: 768px) {
  .header {
    padding-left: 100px;
    padding-right: 100px;
  }

  .container {
    padding-left: 100px;
    padding-right: 100px;
  }

  .ending-container {
    padding-left: 100px;
    padding-right: 100px;
  }

  .forecast-content {
    margin-top: 80px;
    margin-bottom: 80px;
  }
}

@media (max-width: 414px) {
  .header {
    padding-left: 0px;
    padding-right: 0px;
  }

  .container {
    padding-left: 0px;
    padding-right: 0px;
  }

  .ending-container {
    padding-left: 0px;
    padding-right: 0px;
  }

  .ending-container::before {
    content: "";
    background-image: url(./death-date.images/media-moon.svg);
    position: absolute;
    bottom: 53px;
    left: 0px;
    width: 36px;
    height: 52px;
  }

  .ending-container::after {
    content: "";
    background-image: url(./death-date.images/media-eye.svg);
    position: absolute;
    top: 13px;
    right: 0;
    width: 60px;
    height: 64px;
  }

  .mystery-content {
    max-width: 280px;
  }

  .mystery-text {
    font-size: 20px;
    padding: 128px 20px 84px 20px;
  }

  .mystery-text::before {
    left: 82px;
  }
}

@media (max-width: 375px) {
  .header-greeting {
    padding: 0;
    font-size: 12px;
    line-height: 14px;
    font-weight: 300;
  }

  .question-title {
    font-size: 20px;
    line-height: 24px;
    font-weight: 300;
    padding: 0;
  }
  .photo-container::before {
    content: "";
    background-image: url(./death-date.images/media-eye-1.svg);
    position: absolute;
    top: 109px;
    left: 60px;
    width: 200px;
    height: 200px;
    opacity: 0.1;
  }

  .photo-container {
    margin: 0;
  }

  .question-photo__text {
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    margin: 0;
  }

  .question-buttons__button {
    padding: 12px 80px;
    margin-bottom: 20px;
  }

  .question-photo__img {
    border-radius: 50%;
    width: 137px;
    height: 137px;
    z-index: 1;
  }

  .question-buttons__prediction {
    font-size: 12px;
    line-height: 14px;
  }

  .mystery-text {
    font-size: 20px;
    line-height: 25px;
    padding: 58px 20px 35px 20px;
  }

  .mystery-text::before {
    content: "";
    background-image: url(./death-date.images/media-hands.jpg);
    position: absolute;
    top: -40px;
    left: 102px;
    width: 77px;
    height: 77px;
    border-radius: 50%;
  }

  .forecast-parent {
    margin-bottom: 50px;
  }

  .forecast-text {
    font-size: 20px;
    line-height: 25px;
    font-weight: 400;
    padding-left: 30px;
    padding-right: 30px;
  }

  .test-question {
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    padding-bottom: 30px;
  }

  .test-button {
    padding: 12px 80px;
    margin-bottom: 20px;
  }

  .test-number {
    font-size: 12px;
    line-height: 14px;
  }

  .test {
    margin-bottom: 60px;
  }

  .ending-note {
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    padding: 60px 30px 200px 30px;
  }

  .ending-container::before {
    bottom: 125px;
  }
}
