*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  color: #fff;
  background-color: #202024;
  font-family: "Roboto", sans-serif;
}

.container {
  padding-left: 380px;
  padding-right: 380px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header {
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(253, 251, 251, 0.1);
  padding-left: 400px;
  padding-right: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header-greeting {
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  padding-top: 20px;
  padding-bottom: 20px;
  opacity: 60%;
}

.question {
  background-image: url(./death-date.images/background-1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 130px;
  
}

.question-photo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  margin-bottom: 50px;
  max-width: 420px;
}

.photo-container {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.photo-container::before {
  content: "";
  background-image: url(./death-date.images/eye.svg);
  position: absolute;
  top: 125px;
  left: 37px;
  width: 346px;
  height: 346px;
  opacity: 0.1;
}
.question-title {
  font-size: 25px;
  line-height: 30px;
  font-weight: 300;
  padding-top: 11px;
  padding-bottom: 64px;
  opacity: 60%;
}

.question-photo__img {
  border-radius: 50%;
  width: 237px;
  height: 237px;
  z-index: 1;
}

.question-photo__text {
  font-size: 25px;
  line-height: 30px;
  font-weight: 400;
  color: #f6c866;
}

.question-uppercase {
  text-transform: uppercase;
}

.question-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.question-buttons__button {
  border: none;
  border-radius: 50px;
  margin-bottom: 35px;
  padding: 20px 140px;
  background: linear-gradient(90deg, rgba(246, 200, 102, 0.9) -6.2%, rgba(254, 173, 53, 0.9) 100%);
  overflow: hidden;
  position: relative;
}

.question-buttons__button::after {
  content: '';
  position: absolute;
  top: -50%;
  right: -50%;
  bottom: -50%;
  left: -50%;
  background: linear-gradient(to bottom, rgba(229, 172, 142, 0), rgba(255,255,255,0.5) 50%, rgba(229, 172, 142, 0));
  transform: rotateZ(60deg) translate(-5em, 7.5em);
  animation: sheen 3s infinite;
}
  
@keyframes sheen {
  100% {
    transform: rotateZ(60deg) translate(1em, -9em);
  }
}

/* .question-buttons__button:hover:after {
    left: 120%;
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  
} */






.question-buttons__prediction {
  font-size: 16px;
  line-height: 18px;
  font-weight: 300;
  opacity: 60%;
  letter-spacing: 2px;
}

.mystery {
  margin-bottom: 75px;
}

@keyframes show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
.mystery-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 3px;
  max-width: 480px;
  position: relative;
}

.mystery-text::before {
  content: "";
  background-image: url(./death-date.images/hands.jpg);
  position: absolute;
  top: -66px;
  left: 161px;
  width: 135px;
  height: 135px;
  border-radius: 50%;
}
.mystery-text {
  font-size: 25px;
  line-height: 35px;
  font-weight: 500;
  padding: 128px 40px 84px 40px;
}

.text-coloring {
  color: rgba(246, 200, 102, 0.9);
}

.forecast-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}
.forecast-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 1440px;
  background-image: url(./death-date.images/background-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.forecast {
  width: 100%;
  background: rgba(41, 40, 40, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.forecast-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 370px;
  margin-top: 180px;
  margin-bottom: 180px;
}

.forecast-text {
  font-size: 25px;
  line-height: 35px;
  font-weight: 400;
}

.test {
  margin-bottom: 130px;
}



.test-question {
  font-size: 25px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: #f6c866;
  padding-bottom: 50px;
}

.test-button {
  border: none;
  border-radius: 50px;
  margin-bottom: 35px;
  padding: 20px 140px;
  background: linear-gradient(
    90deg,
    rgba(246, 200, 102, 0.9) -6.2%,
    rgba(254, 173, 53, 0.9) 100%
  );
  cursor: pointer;
  overflow: hidden;
  position: relative;
}
.test-button::after {
  content: '';
  position: absolute;
  top: -50%;
  right: -50%;
  bottom: -50%;
  left: -50%;
  background: linear-gradient(to bottom, rgba(229, 172, 142, 0), rgba(255,255,255,0.5) 50%, rgba(229, 172, 142, 0));
  transform: rotateZ(60deg) translate(-5em, 7.5em);
  animation: sheen 3s infinite;
}
  



.question-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.test-number {
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  opacity: 60%;
}

.test-number::before {
  content: "";
  background-image: url(./death-date.images/moon-2.svg);
  position: absolute;
  bottom: 0;
  left: -75px;
  width: 91px;
  height: 92px;
}

.select-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  position: relative;
}

.date {
  margin-bottom: 30px;
  border: none;
  border-radius: 50px;
  margin-bottom: 35px;
  padding: 20px 140px;
}

select {
  appearance: none;
}
.arrow-container:after {
  content: "";
  background-image: url(./death-date.images/select-arrow.svg);
  width: 13px;
  height: 5px;
  position: absolute;
  right: 72px;
  top: 27px;
}

.arrow-container-1:after {
  content: "";
  background-image: url(./death-date.images/select-arrow.svg);
  width: 13px;
  height: 5px;
  position: absolute;
  right: 72px;
  top: 115px;
}

.arrow-container-2:after {
  content: "";
  background-image: url(./death-date.images/select-arrow.svg);
  width: 13px;
  height: 5px;
  position: absolute;
  right: 72px;
  top: 205px;
}


.month {
  margin-bottom: 30px;
  border: none;
  border-radius: 50px;
  margin-bottom: 35px;
  padding: 20px 130px;
}

.test-button__smaller {
  margin-bottom: 30px;
  border: none;
  border-radius: 50px;
  margin-bottom: 35px;
  padding: 20px 130px;
  background: linear-gradient(
    90deg,
    rgba(246, 200, 102, 0.9) -6.2%,
    rgba(254, 173, 53, 0.9) 100%
  );
}

.test-button__small {
  margin-bottom: 30px;
  border: none;
  border-radius: 50px;
  margin-bottom: 35px;
  padding: 20px 80px;
  background: linear-gradient(
    90deg,
    rgba(246, 200, 102, 0.9) -6.2%,
    rgba(254, 173, 53, 0.9) 100%
  );
}

.top-row {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgba(253, 251, 251, 0.1);
  margin-bottom: 30px;
  position: relative;
}

.top-row__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(253, 251, 251, 0.1);
  margin-bottom: 30px;
}

.top-row-1 {
  background-image: url(./death-date.images/cloud.svg);
  width: 259px;
  height: 94px;
  
}

.top-row-2 {
  background-image: url(./death-date.images/cloud.svg);
  width: 259px;
  height: 94px;
}

.top-row-3 {
  background-image: url(./death-date.images/cloud.svg);
  width: 259px;
  height: 94px;
}

.top-row-2,
.top-row-3 {
  display: none;
}

.top-row__text-1 {
  color: #000;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  font-family: "Bad Script", cursive;
  padding: 5px;
}

.top-row__text-2 {
  color: #000;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  font-family: "Bad Script", cursive;
  padding: 0;
}

.top-row__text-3 {
  color: #000;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  font-family: "Bad Script", cursive;
  padding: 0 5px;
}

.top-row__text {
  font-size: 20px;
  line-height: 25px;
  font-weight: 400;
  font-family: "Bad Script", cursive;
  padding: 35px 42px;
  max-width: 500px;
}

.top-row__text::before {
  content: "";
  background-image: url(./death-date.images/eye-3.svg);
  position: absolute;
  right: 610px;
  bottom: 15px;
  width: 164px;
  height: 89px;
}



.recording-message {
  margin-top: 200px;
}
.question-1,
.question-2,
.question-3,
.question-4,
.question-5,
.recording-message,
.call-listen {
  display: none;
}

.call-container {
  padding-left: 600px;
  padding-right: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.block {
  display: block;
}

.bottom-line {
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
  height: 4px;
  position: relative;
}

.upper-line {
  width: 10%;
  height: 4px;
  background-color: #F6C866;
  border-radius: 5px;
}

.upper-line::before {
  content: "";
  background-image: url(./death-date.images/microphone.svg);
  position: absolute;
  width: 147px;
  height: 69px;
  bottom: 50px;
  left: 156px;
}

.pop-up {
  background-image: url(./death-date.images/cloud.svg);
  width: 259px;
  height: 94px;
  margin-bottom: 30px;
}

.pop-up__text {
  color: #000;
  font-size: 14px;
  line-height: 18px;
  margin-top: 5px;
}

.event-top__text {
  font-size: 18px;
  line-height: 20px;
  font-weight: 300;
  margin-bottom: 30px;
}

.inner-event {
  border: 1px solid#fff;
  margin-bottom: 30px;
}

.inner-event__text {
  color: #F6C866;
  font-size: 20px;
  line-height: 25px;
  font-weight: 400;
  padding: 15px 15px 10px 15px;
}

.event-bottom__text {
  font-size: 18px;
  line-height: 20px;
  font-weight: 300;
  margin-bottom: 30px;
}
.event-uppercase {
  text-transform: uppercase;
}

.event-button {
  margin-bottom: 30px;
  border: none;
  border-radius: 50px;
  margin-bottom: 35px;
  padding: 20px 50px;
  color: #fff;
  overflow: hidden;
  position: relative;
  background: linear-gradient(90deg, rgba(76, 217, 100, 0.9) -6.2%, rgba(50, 185, 73, 0.9) 100%);
}

.event-button::after {
  content: '';
  position: absolute;
  top: -50%;
  right: -50%;
  bottom: -50%;
  left: -50%;
  background: linear-gradient(to bottom, rgba(229, 172, 142, 0), rgba(255,255,255,0.5) 50%, rgba(229, 172, 142, 0));
  transform: rotateZ(60deg) translate(-5em, 7.5em);
  animation: sheen 3s infinite;
}


.ending {
  position: relative;
}

.ending-indents {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 300px;
  position: relative;
}
.ending-note {
  font-size: 25px;
  line-height: 35px;
  font-weight: 400;
  font-family: "Bad Script", cursive;
  padding: 100px 10px 250px 10px;
}

.ending-note::before {
  content: "";
  background-image: url(./death-date.images/last-before.svg);
  position: absolute;
  top: 15px;
  left: 120px;
  width: 57px;
  height: 17px;
}

.ending-note::after {
  content: "";
  background-image: url(./death-date.images/last-after.svg);
  position: absolute;
  bottom: 150px;
  left: 120px;
  width: 55px;
  height: 17px;
}

.ending-container {
  padding-left: 400px;
  padding-right: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.ending-container::before {
  content: "";
  background-image: url(./death-date.images/moon.svg);
  position: absolute;
  bottom: 30px;
  left: 153px;
  width: 164px;
  height: 164px;
}

.ending-container::after {
  content: "";
  background-image: url(./death-date.images/eye-2.svg);
  position: absolute;
  top: -69px;
  right: 150px;
  width: 310px;
  height: 183px;
}

.footer {
  display: none;
}

.footer-text {
  color: #9D9D9D;
}


@media (max-width: 1440px) {

  .top-row__text::before {
    content: "";
    background-image: url(./death-date.images/eye-3.svg);
    position: absolute;
    right: 390px;
    bottom: 5px;
    width: 164px;
    height: 89px;
  }

  .call-container {
    padding-left: 400px;
    padding-right: 400px;
  }

  .ending-container::before {
    content: "";
    background-image: url(./death-date.images/moon.svg);
    position: absolute;
    bottom: 30px;
    left: -48px;
    width: 164px;
    height: 164px;
  }

  .ending-container::after {
    content: "";
    background-image: url(./death-date.images/eye-2.svg);
    position: absolute;
    top: -69px;
    right: 0;
    width: 186px;
    height: 183px;
  }
}

@media (max-width: 1024px) {
  .header {
    padding-left: 200px;
    padding-right: 200px;
  }

  .container {
    padding-left: 200px;
    padding-right: 200px;
  }

  .test-number {
    margin-top: 100px;
  }

  .call-container {
    padding-left: 300px;
    padding-right: 300px;
  }

  .ending-container {
    padding-left: 200px;
    padding-right: 200px;
  }

  .footer {
    display: block;
  }

  .footer-container {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 50px;
    max-width: 350px;
    overflow-x: scroll;

  }
  
  .footer-text {
    font-size: 12px;
    line-height: 18px;
    font-weight: 300;
    padding-left: 20px;
    padding-right: 20px;

  }
}

@media (max-width: 768px) {
  .header {
    padding-left: 100px;
    padding-right: 100px;
  }

  .container {
    padding-left: 100px;
    padding-right: 100px;
  }

  .call-container {
    padding-left: 150px;
    padding-right: 150px;
  }

  .ending-container {
    padding-left: 100px;
    padding-right: 100px;
  }

  .forecast-content {
    margin-top: 80px;
    margin-bottom: 80px;
  }
}

@media (max-width: 414px) {
  .header {
    padding-left: 0px;
    padding-right: 0px;
  }

  .container {
    padding-left: 0px;
    padding-right: 0px;
  }

  .photo-container::before {
    left: 34px;
  }

  .question-photo__text {
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
  }

  .mystery-text {
    font-size: 18px;
    line-height: 24px;
    padding: 58px 20px 35px 20px;
  }
  .mystery-content {
    max-width: 280px;
  }

  .mystery-text::before {
    content: "";
    background-image: url(./death-date.images/media-hands.jpg);
    position: absolute;
    top: -40px;
    left: 102px;
    width: 77px;
    height: 77px;
    border-radius: 50%;
  }

  .forecast-text {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    padding-left: 30px;
    padding-right: 30px;
  }

  .top-row__text {
    font-size: 16px;
    line-height: 20px;
  }
  .test-button {
    padding: 12px 80px;
    margin-bottom: 20px;
  }

  .test-button__smaller {
    padding: 12px 70px;
  }

  .test-button__small {
    padding: 12px 21px;
  }
  .test-question {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    padding-bottom: 30px;
  }

  .top-row__text::before {
    content: "";
    background-image: url(./death-date.images/eye-4.svg);
    position: absolute;
    right: 0px;
    bottom: 5px;
    width: 62px;
    height: 59px;
  }

  .test-number::before {
    content: "";
    background-image: url(./death-date.images/moon-3.svg);
    position: absolute;
    bottom: 24px;
    left: -90px;
    width: 42px;
    height: 52px;
  }

  .date {
    padding: 12px 80px;
  }

  .month {
    padding: 12px 66px;
  }

  .arrow-container:after {
    content: "";
    background-image: url(./death-date.images/select-arrow.svg);
    width: 13px;
    height: 5px;
    position: absolute;
    right: 14px;
    top: 19px;
  }
  
  .arrow-container-1:after {
    content: "";
    background-image: url(./death-date.images/select-arrow.svg);
    width: 13px;
    height: 5px;
    position: absolute;
    right: 14px;
    top: 92px;
  }
  
  .arrow-container-2:after {
    content: "";
    background-image: url(./death-date.images/select-arrow.svg);
    width: 13px;
    height: 5px;
    position: absolute;
    right: 14px;
    top: 167px;
  }

  .call-container {
    padding-left: 60px;
    padding-right: 60px;
  }

  .event-top__text,
  .event-bottom__text {
    font-size: 14px;
    line-height: 18px;
    font-weight: 300;
  }

  .event-button {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: #fff;
    padding: 20px 38px;
  }

  .inner-event__text {
    font-size: 16px;
    line-height: 25px;
    font-weight: 700;
  }

  .bottom-line {
    width: 80%;
  }

  .upper-line::before {
    left: 92px;
  }

  .ending-container {
    padding-left: 0px;
    padding-right: 0px;
  }

  
  .ending-note {
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
    padding: 60px 30px 200px 30px;
    margin-bottom: 0;
  }

  .ending-container::before {
    content: "";
    background-image: url(./death-date.images/media-moon.svg);
    position: absolute;
    bottom: 53px;
    left: 0px;
    width: 36px;
    height: 52px;
  }

  .ending-container::after {
    content: "";
    background-image: url(./death-date.images/media-eye.svg);
    position: absolute;
    top: 13px;
    right: 0;
    width: 60px;
    height: 64px;
  }

  
}

@media (max-width: 375px) {
  .header-greeting {
    padding: 0;
    font-size: 12px;
    line-height: 14px;
    font-weight: 300;
  }

  .question-title {
    font-size: 20px;
    line-height: 24px;
    font-weight: 300;
    padding: 0;
  }
  .photo-container::before {
    content: "";
    background-image: url(./death-date.images/media-eye-1.svg);
    position: absolute;
    top: 109px;
    left: 14px;
    width: 200px;
    height: 200px;
    opacity: 0.1;
  }

  .photo-container {
    margin: 0;
  }

 

  .question-buttons__button {
    padding: 12px 80px;
    margin-bottom: 20px;
  }

  .question-photo__img {
    border-radius: 50%;
    width: 137px;
    height: 137px;
    z-index: 1;
  }

  .question-buttons__prediction {
    font-size: 12px;
    line-height: 14px;
  }

  

  .mystery-text::before {
    content: "";
    background-image: url(./death-date.images/media-hands.jpg);
    position: absolute;
    top: -40px;
    left: 102px;
    width: 77px;
    height: 77px;
    border-radius: 50%;
  }

  .forecast-parent {
    margin-bottom: 50px;
  }

 

  

  

  .test-number {
    font-size: 12px;
    line-height: 14px;
  }

  .test {
    margin-bottom: 60px;
  }

  .call-container {
    padding-left: 40px;
    padding-right: 40px;
  }

 


  .ending-container::before {
    bottom: 125px;
  }
}

@media (max-width: 320px) {
  .photo-container::before {
    content: "";
    background-image: url(./death-date.images/media-eye-1.svg);
    position: absolute;
    top: 109px;
    left: 60px;
    width: 200px;
    height: 200px;
    opacity: 0.1;
  }

  .test-number::before {
    left: -44px;
  }

  .upper-line::before {
    left: 55px;
  }
}
